<div class="card w-100">
    <div class="card-header">
        <h3>Awards and Certifications</h3>
    </div>
    <div class="card-body">
        <h5 class="text-info">Awards</h5>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            Manager's Choice Award
                        </td>
                        <td>
                            <p><strong>IBM</strong> | November, 2017 and November, 2018</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            'On the Spot' Award
                        </td>
                        <td>
                            <p><strong>Tata Consultancy Services</strong> | October, 2013</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h5 class="text-info">Certifications</h5>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        1Z0-851 - Oracle Certified Professional, Java SE 6
                    </td>
                </tr>
                <tr>
                    <td>
                        Diploma in Soft Skills and Personal Development
                    </td>
                </tr>
                <tr>
                    <td>
                        Container & Kubernetes Essentials with IBM Cloud
                        <a href="https://courses.cognitiveclass.ai/certificates/6645e4fc95dc4f3eb8b1b25a66b4f73b" target="_blank">
                            <i class="fa fa-star"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        IBM Cloud: Deploying Microservices with Kubernetes
                        <a href="https://www.coursera.org/account/accomplishments/certificate/HWNM96FVQDJ2" target="_blank">
                            <i class="fa fa-star"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Microservices - Fundamentals
                        <a href="https://www.coursera.org/account/accomplishments/certificate/HQJ2Q93LLTEE" target="_blank">
                            <i class="fa fa-star"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Intro to Python for Data Science
                    </td>
                </tr>
                <tr>
                    <td>
                        Introduction to R
                    </td>
                </tr>
                <tr>
                    <td>
                        DEV 301 - DEVELOPING HADOOP APPLICATIONS
                    </td>
                </tr>
                <tr>
                    <td>
                        HDE 100 - HADOOP ESSENTIALS
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <h5 class="text-info">Badges</h5>
        <div class="jumbotron-fluid">
            <div class="row w-100">
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.youracclaim.com/badges/c8408194-260b-408a-9049-420154308860/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/1.png" alt="card image">
                            </a>
                        </p>
                        <p>Deploying Microservices with Kubernetes</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.youracclaim.com/badges/d9592061-fa55-4fe6-be7c-8915ec9419b6/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/2.png" alt="card image">
                            </a>
                        </p>
                        <p>Microservices Fundamentals</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.youracclaim.com/badges/9eb732da-1c00-4ffb-8093-e770ae2f7c21/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/3.png" alt="card image">
                            </a>
                        </p>
                        <p>Getting Started with Containers on IBM Cloud</p>
                    </div>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.youracclaim.com/badges/12a12b43-af53-45bb-9ee7-60aea0e731a6/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/4.png" alt="card image">
                            </a>
                        </p>
                        <p>Enterprise Design Thinking Co-Creator</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.youracclaim.com/badges/5048061c-d719-4187-b3e1-068df7382e73/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/5.png" alt="card image">
                            </a>
                        </p>
                        <p>IBM Cloudant Developer Essentials</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.youracclaim.com/badges/33612133-ce9a-41f8-9c3c-79e56ac79783/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/6.png" alt="card image">
                            </a>
                        </p>
                        <p>IBM Cloud Essentials</p>
                    </div>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.youracclaim.com/badges/6363e1ff-f291-4d6a-8038-46874ef6b83a/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/7.png" alt="card image">
                            </a>
                        </p>
                        <p>Enterprise Design Thinking Practitioner</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.youracclaim.com/badges/74efaf51-a71e-4925-9321-1cafa15783b5/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/9.png" alt="card image">
                            </a>
                        </p>
                        <p>DevOps Essentials</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.youracclaim.com/badges/b0bad3ba-1fc9-4bbd-a335-0c4888850c87/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/10.png" alt="card image">
                            </a>
                        </p>
                        <p>Docker Essentials</p>
                    </div>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.youracclaim.com/badges/6734caed-d646-44e4-96a7-f390e8a9e45a/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/11.png" alt="card image">
                            </a>
                        </p>
                        <p>Agile Explorer</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.youracclaim.com/badges/2e0aa85a-d331-4e77-a13a-672ebca09ccd/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/8.png" alt="card image">
                            </a>
                        </p>
                        <p>Spark - Level 1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
