<div class="card w-100">
    <div class="card-header">
        <h3>Education</h3>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3>Master of Computer Science</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fa fa-university"></i> North Carolina State University
                    </h5>
                    <p class="card-text">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="fa fa-map-marker"></i> Raleigh, North Carolina
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-calendar"></i> December, 2016
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-star"></i> 3.67 GPA
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3>Bachelor of Engineering in Electronics and Telecommunication</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fa fa-university"></i> G. H. Raisoni College of Engineering
                    </h5>
                    <p class="card-text">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <i class="fa fa-map-marker"></i> India
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-calendar"></i> May, 2012
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-star"></i> 81.71 %
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
