<!-- footer start -->
<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand navbar-text">
    "You Might Not Think That Programmers Are Artists, But Programming Is An Extremely Creative Profession. It's Logic-Based Creativity." ~ John Romero
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav navbar-text">
        <i class="fa fa-copyright"></i> <a href="https://in.linkedin.com/in/sanketchinchalkar">Sanket</a>
      </div>
    </div>
</nav>
<!-- footer end -->
