<!-- header start -->
<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="#home">
    <span><i class="fa fa-user-circle"></i> Sanket Chinchalkar </span>
  </a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#home"><i class="fa fa-home"></i> Home</a>
      <a class="nav-item nav-link" href="#education"><i class="fa fa-graduation-cap"></i> Education</a>
      <a class="nav-item nav-link" href="#skills"><i class="fa fa-cogs"></i> Skills</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/sanket-c" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://in.linkedin.com/in/sanketchinchalkar" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
</nav>
<!-- header end -->
