<div class="card w-100">
  <div class="card-header">
    <h3>About Me</h3>
  </div>
  <div class="card-body">
    <h5 class="text-info">Profile</h5>
    <p class="card-text">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Innovative software engineer offering more than 4 years of experience in Software
          Development, Product Engineering and Result Driven Applied Research.
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Contributed software engineering expertise in development and successful deployment
          of products through SDLC using Agile and Waterfall methodologies.
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Experienced in Object Oriented Programming, Full Stack Development, Cloud
          Technologies, Web Services and Database Management ( SQL and NoSQL ).
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Proficient in analyzing and translating business requirements to technical requirements,
          architecture and feasible software solution.
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Collaborated closely with other team members to design and develop robust solutions.
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Participated in a creative process called ’Enterprise Design Thinking’ which includes
          architecture design and implementation of efficient and user-friendly software.
        </li>
      </ul>
    </p>
    <hr/>
    <h5 class="text-info">What do I bring to the team ?</h5>
    <div class="jumbotron-fluid">
      <div class="row w-100">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <h3 class="text-center"><i class="fa fa-code"></i></h3>
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Software Development</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <h3 class="text-center"><i class="fa fa-skyatlas"></i></h3>
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Cloud Development</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <h3 class="text-center"><i class="fa fa-connectdevelop"></i></h3>
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Software Design and Architecture</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
