<div class="container">
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <h3>Programming Languages</h3>
            </div>
            <div class="card-body">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> Java
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> J2EE
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> Python
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> R
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> C
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3>Web Technologies</h3>
            </div>
            <div class="card-body">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> HTML
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> CSS
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> Javascript
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> Angular 6
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> React
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3>Application Servers</h3>
            </div>
            <div class="card-body">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> Apache Tomcat
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> Node
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3>Framework / Utilities</h3>
            </div>
            <div class="card-body">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> Hibernate
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> Spring
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> Spring Boot
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> REST
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card-deck py-5">
        <div class="card">
            <div class="card-header">
                <h3>Database</h3>
            </div>
            <div class="card-body">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> SQL (Oracle, Postgres, DB2)
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> PL/SQL
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3>Big Data / NoSQL</h3>
            </div>
            <div class="card-body">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> Elasticsearch
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> MongoDB
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> Cloudant
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> CouchDB
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> Apache Spark
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> Hadoop
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3>CD/CI Tools</h3>
            </div>
            <div class="card-body">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> GIT
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> Jenkins
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> Docker
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> Kubernetes
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> Ansible
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3>Libraries</h3>
            </div>
            <div class="card-body">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> NumPy
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> Scikit-Learn
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> Pandas
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-cog"></i> Stanford CoreNLP
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
