<div class="card w-100">
    <div class="card-header">
        <h3>Skills</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            Programming Languages
                        </th>
                        <td>
                            <p>JAVA / J2EE, Typescript, Javascript, Python</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Web Technologies
                        </th>
                        <td>
                            <p>HTML, CSS, Bootstrap, Angular, React</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Application Servers
                        </th>
                        <td>
                            <p>NodeJS, Apache Tomcat</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Framework / Utilities
                        </th>
                        <td>
                            <p>Hibernate, Spring, REST</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Database
                        </th>
                        <td>
                            <p>SQL, PL/SQL (Oracle, Postgres, DB2)</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Big Data / NoSQL
                        </th>
                        <td>
                            <p>Elasticsearch, Apache Spark, MongoDB, Hadoop, Kafka, Cloudant</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            CD/CI Technologies
                        </th>
                        <td>
                            <p>GIT, SVN, Jenkins, Gradle</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Containerization Tools
                        </th>
                        <td>
                            <p>Kubernetes, Docker</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Cloud Technologies
                        </th>
                        <td>
                            <p>IBM Cloud, Amazon Web Services</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr/>
        </div>
    </div>
</div>
