<div class="card w-100">
    <div class="card-header">
        <h3>Work Experience</h3>
    </div>
    <div class="card-body">
        <h5 class="text-info">Software Engineer</h5>
        <p class="text-justify"><strong>Google</strong> | December, 2017 - Present</p>
        <!--<p class="card-text">
            Add Information Later
        </p>-->
        <hr/>
        <h5 class="text-info">Software Engineer</h5>
        <p class="text-justify"><strong>IBM</strong> | April, 2017 - December, 2019</p>
        <p class="card-text">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Designed and developed Microservices Solution using Angular, Typescript and
                    Node for onboarding Providers on IBM Marketplace.
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Implemented containerized API services hosted on IBM Cloud Kubernetes
                    Service to enable provisioning of IBM products on Third Party Marketplaces.
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Worked on Cloudant and MongoDB for data storage and management.
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Wrote unit tests, functional tests and integration tests to automate overall
                    testing and achieve 100% test and code coverage.
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Enabled Data Processing Algorithms to use Spark Pipeline for fast and efficient
                    processing of large datasets.
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Implemented Web Applications using React and NodeJS which integrate
                    Electronic Health Record (EHR) systems with Watson APIs to generate
                    actionable insights.
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Developed algorithms for calculating Health Risk Scores in Javascript for the
                    patients based on Clinical Data.
                </li>
            </ul>
        </p>
        <hr/>
        <h5 class="text-info">Software Engineer</h5>
        <p class="text-justify"><strong>Tata Consultancy Services</strong> | January, 2013 - July, 2015</p>
        <p class="card-text">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Developed module in Java for fetching data from social media APIs like Twitter,
                    Facebook, etc.
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Developed algorithms for Sentiment Analysis, Entity Extraction, Taxonomy
                    Analysis, etc. in Core Java.
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Worked with SQL, PL/SQL and Elasticsearch (NoSQL) for data storage and
                    management.
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Designed multi threaded and parallel processing architecture in Java for
                    efficient processing.
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Implemented pipeline architecture in Java for modular processing.
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Implemented User Interface using HTML, CSS, Bootstrap, Javascript and
                    AngularJS.
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Implemented REST API using Node.js and Java for handling user requests.
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Mentored and guided a team of engineers to successfully deliver business
                    results.
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Analyzed client’s business requirements and mapped them to functional
                    specifications.
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Sketched out plans and strategies to meet client requirements.
                </li>
            </ul>
        </p>
    </div>
</div>
